

<web-app  
	    version="3.0"  
        xmlns="http://java.sun.com/xml/ns/javaee"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_1544696029398">  

  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
		
		<welcome-file>index.jsp</welcome-file>
		
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>hserver</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:/spring-mvc.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>
    
	
    
	

	<servlet-mapping>
		<servlet-name>hserver</servlet-name>
		<url-pattern>/hserver/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>



	<error-page>
		<exception-type>500</exception-type>
		<location>/WEB-INF/view/500.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/view/404.html</location>
	</error-page>
	
	
	
	
	
</web-app>
