<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="1800"
               shutdownHook="disable">
    <!-- <appender name="myFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs.log" />设置日志输出文件名 设置是否在重新启动服务时，在原有日志的基础添加新日志
        <param name="Append" value="true" /> <param name="MaxBackupIndex" value="10"
        /> <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5l [%5p] - %m%n" /> </layout> </appender> -->

    <appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %C.%M(%F:%L) : %m%n"/>
        </Console>

        <RollingFile name="ALL" fileName="log/all.log"
                     filePattern="log/all.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true"/>
            </Policies>
        </RollingFile>

        



    </appenders>

    <loggers>

        

        <logger name="org.springframework" level="warn" additivity="false">
            <appender-ref ref="ERROR"/>
            <appender-ref ref="ALL"/>
            <appender-ref ref="Console"/>
        </logger>

        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="ALL"/>
        </root>


    </loggers>
</configuration>
